.mainTitle {
  font-family: "Almendra SC";
  font-size: 80px;
  color: black;
  position: absolute;
  top: 10%;
  left: 40%;
  text-shadow: 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #21723c,
  0 0 60px #21723c, 0 0 70px #21723c, 0 0 80px #21723c, 0 0 90px #21723c;
}

.glowpulsed {
  animation: pulse 2s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
  }
}
.baseText {
  font-family: "Almendra SC";
  font-weight: 700;
  font-size: 25px;
  color: black;
}

#root{
  height: fit-content !important;
  width: fit-content !important;
}

body {
  height:100% !important;
  width:100% !important;
}

.container{
  height:100% !important;
  width: 100% !important;
}

.frontBackground {
  /* The image used */
  background-image: url("../images/frontBackground.jpg") !important;

  /* Full height */
  height: 100% !important;
  width: 100% !important;

  /* Center and scale the image nicely */
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


.playersButt{
  font-family: "Almendra SC" !important;
  position: absolute !important;
  background-color: rgba(74, 103, 83, 0.872) !important;
  height: 12%;
  width: 15%;
  top: 55% !important;
  left: 25% !important;
  font-size: 175% !important;
  color: black !important;
  border-radius: 3px solid transparant;
  box-shadow: 
  0 2px 4px #fff, /*bottom external highlight*/
  0 -2px 2px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8)!important;/*top internal highlight*/
}

.startButt {
  font-family: "Almendra SC" !important;
  position: absolute !important;
  background-color: rgba(74, 103, 83, 0.872) !important;
  height: 12%;
  width: 15%;
  top: 55% !important;
  left: 45% !important;
  font-size: 175% !important;
  color: black !important;
  padding-left:30px !important;
  text-align: center !important;
  border-radius: 3px;
  box-shadow: 
  0 2px 4px #fff, /*bottom external highlight*/
  0 -2px 2px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8)!important;/*top internal highlight*/
}


.levelButt{
  position: absolute !important;
  background-color: rgba(74, 103, 83, 0.872) !important;
  height: 12%;
  width: 15%;
  top: 55% !important;
  left: 65% !important;
  border-radius: 3px solid transparant;
  box-shadow: 
  0 2px 4px #fff, /*bottom external highlight*/
  0 -2px 2px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8) !important;/*top internal highlight*/
}

.buttInput{
  font-weight: 700;
  font-family: "Almendra SC" !important;
  border-radius: 5px;
  padding-right: 15px;
  height: 100%;
  width: 100%;
  background-color: transparent !important;
  border-color: transparent !important;
  font-size: 20px !important;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  padding-left: 20px;
  font-size: 125% !important;
  opacity: 1; /* Firefox */
}

input:focus{
  outline: none;
}

.icon{
  font-size: xx-large !important;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}




